<footer class="my-4">
	<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
		>© 2024 <a href="/" class="hover:underline">Productos Demar</a>. Todos
		los derechos reservados.</span
	>
</footer>
