---
const { products } = Astro.props;
---

<main class="w-full min-h-screen mb-4">
	<ul
		class="grid place-items-center grid-cols-2 md:grid-cols-4 gap-4 px-2 sm:mr-4 box-border"
	>
		{
			products.map((column: any[]) => {
				return (
					<li class="grid gap-4 ">
						{column.map(({ image, title, description }) => {
							return (
								<div class="relative group shadow-md rounded-lg shadow-slate-500/30 overflow-hidden">
									<img
										class="h-auto group-hover:scale-110  w-full object-cover rounded-lg transition-transform duration-200"
										src={image}
										alt={title}
									/>
									<div class="absolute top-0 w-full h-full transition-opacity opacity-0 group-hover:opacity-100 flex flex-col items-baseline justify-end text-white bg-gradient-to-tr group-hover:flex from-indigo-800 via-transparent hover:via-black/50  to-transparent rounded-lg p-2">
										<h3 class="text-lg font-bold">
											{title}
										</h3>
										<p class="text-sm">{description}</p>
									</div>
								</div>
							);
						})}
					</li>
				);
			})
		}
	</ul>
</main>
