<header
	class="h-screen ml-6 mr-7 pt-3 flex flex-col justify-center items-center"
>
	<h1
		class="font-bold lg:text-[120px] inline-block sticky text-center animate-pulse"
	>
		<span
			class="bg-gradient-to-t from-accent-500 to-secondary-400 bg-clip-text text-transparent mb-0 p-0"
			>Productos</span
		>
		<strong class="text-primary-600 uppercase -mt-20 -mb-8 block"
			>demar</strong
		>
	</h1>
	<p class="text-balance text-center my-2 mb-4 w-2/4 text-white">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
		reprehenderit dolores, officiis maxime quam aliquid asperiores ipsam
		dolore sed doloribus dicta laboriosam accusamus quo quod ut provident,
		modi distinctio ab.
	</p>
	<a
		href="tel:18092464499"
		class="bg-white text-primary-950 py-3 px-3 hover:bg-white/90 transition-colors duration-300 hover:scale-105"
		>Contactanos</a
	>
</header>
