<header
	class="h-screen ml-6 mr-7 pt-3 flex flex-col justify-center items-center"
>
	<h1
		class="font-bold md:text-5xl md:mb-10 lg:mb-0 max-md:text-6xl lg:text-[120px] inline-block sticky text-center animate-pulse"
	>
		<span
			class="bg-gradient-to-t from-accent-500 to-secondary-400 bg-clip-text text-transparent mb-0 p-0"
			>Productos</span
		>
		<strong
			class="text-primary-600 uppercase md:-mt-20 md:-mb-8 lg:mb-0 lg:mt-0 block"
			>DEMAR</strong
		>
	</h1>
	<p
		class="text-balance italic text-center my-2 mb-4 w-full md:w-2/4 line-clamp-4"
	>
		Ideal para cualquier entorno, desde la cocina de tu hogar hasta el
		taller industrial.¡Descubre la eficacia y versatilidad de Productos
		DEMAR hoy!
	</p>
	<a
		href="tel:18092464499"
		class="bg-white text-primary-950 py-3 px-3 hover:bg-white/90 transition-colors duration-300 hover:scale-105"
		>Contactanos</a
	>
</header>
